/* 구역 구분 확인용 */
*{border: 2px solid red;}

.s1{
    display: inline; /*span 기본값*/
    
    /* 구역 사이즈 설정 불가능(inline) */
    width: 200px; height: 200px;
    margin: 20px 30px; /* 바깥 여백 : 위.아래=20, 왼.오=30  > 위.아래는 적용 안됨 */
    padding: 20px 30px; /* 안쪽 여백 : 위.아래=20 왼.오=30 > 위.아래는 적용 안됨 */
}

.s2{
    display: block; /* div 기본값 */
    /*구역 사이즈 설정 가능*/
    width: 100px; height: 100px;
    margin: 20px 30px; /* 바깥 여백 : 위.아래=20, 왼.오=30  > 전부 적용 가능 */
    padding: 20px 30px; /* 안쪽 여백 : 위.아래=20 왼.오=30 > 전부 적용 가능 */
}

.s3{
    display: inline-block; /* s1+s2, input 기본값 */
    width: 100px; height: 100px;
    margin: 20px 30px; /* 바깥 여백 : 위.아래=20, 왼.오=30  > 전부 적용 가능 */
    padding: 20px 30px; /* 안쪽 여백 : 위.아래=20 왼.오=30 > 전부 적용 가능 */
}

.s4{
    display: none; /* 숨기기 및 표시안함*/
}


