
/* 전체 선택자 */
    /* 기본 여백 값 모두 제거 */
*{padding: 0px; margin: 0px;}


/*1. 하나의 제품 구역 */
 .product{
    border : 1px solid #eeee; /* 테두리 */
    width : 400px; /* 가로 구역 사이즈 */
    margin : 20px; /* 바깥 여백 =2 0 */
}


/* 2. 제품 상단 이미지 */
.top >  .pimg{ width: 400px;}

/* 3. 제품 하단 */
.bottom{
        border-top: 1px solid #eeee; 
        padding: 20px 10px 10px 10px;
}

/* 4. 제품 하단 정보들 */
.bottom > .name{
                font-size: 20px; font-weight: bold; /* 진하게 */
            
}
.bottom> .price{
               font-weight: bold;
               margin-top: 15px;
}
.bottom> .content{
                 margin-top: 15px;
                 line-height: 160%;
}

.bottom> .review{
                 margin-top: 15px;
                 color: orange;
                 font-weight: bold;

}

.bottom> .review > .orange{
                 color: orange;
                 font-weight: bold;
}
