
/* 전체 선택자 */
    /* 기본 여백 값 모두 제거 */
    *{padding: 0px; margin: 0px;}
    a{color: black;
      text-decoration: none;
     }

/* 배경색 넣기 */
 body{
     background-color: palevioletred; /* 배경 색상 */
     text-align: center; /* 텍스트를 가운데로 정렬 */
 }   
 
 /* 제목 구역 */
 .info > .title{
               font-size: 20px;
               border: 3px solid white;
               width: 300px;
               padding: 10px;
               border-radius: 50px;
               margin:30px auto; /* 구역 가운데로 배치 */
 }

/* 사진 구역 */
.info > .logo{
              width: 200px; height: 200px; /* 정사각형 */
              border-radius: 100px;
              margin:30px auto;
 }

/* 코멘트 구역 */
.info > .content{margin: 20px;}

/* 링크 구역 */
.info >.linkbox >.link{
             background-color: skyblue;
             width: 300px;
             margin: 15px auto;  
             padding: 20px;
             border-radius: 10px;
 }
 /* a태그는 기본적으로 밑줄이 첨가됨 */
 .info >.linkbox > .link > .a{
                             font-weight: bold;
                             color: white;
                             text-decoration: none;
 }