/* 컨트롤 + 슬래쉬  */
/* 페이지  width 구성(헤더 1900,본문1200,푸터1200) ,
폰트구성 , 레이아웃 구성 , 선택자 이름 패턴 구성 */
/*{ border: solid 1px red ;
    margin: 0px;
    width: 0px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
} */

* { padding: 0px; margin: 0px; } /* 기본 여백 제거 */
li{ list-style-type: none; } /* li 마크업은 글머리 제거 */

#wrap{
    background-color: black;
   
}

/* 푸터 영역 */
#footer{
    background-color : black ; color: white;
    width: 1280px;
    padding: 0px; 
    margin: 0px;
    }

#footer > #ftcont > #fttop >.email{
    display: flex;
    justify-content: space-between;
    
    border: 3;
    width : 150px ; /* 입력상자 가로 사이즈 */
    height: 30px; /* 입력상자 세로 사이즈 */
    border-radius : 10px; /* 둥근모서리 */
    padding: 1px 6px; /* 입력상자 안쪽 여백 */
    font-size: 17px;
}

#footer > #ftcont > #fttop > #start{
    margin: 0 auto; /* 구역 가로 가운데 정렬*/
    border: 3;
    background-color : red;    
    width : 150px ; /* 입력상자 가로 사이즈 */
    height: 30px; /* 입력상자 세로 사이즈 */
    border-radius : 10px; /* 둥근모서리 */
    padding: 1px 6px; /* 입력상자 안쪽 여백 */
    font-size: 17px;
    color: antiquewhite;
}

#ftbottom2{
    display: flex;
    justify-content: space-between;

}









