/*  CSS 주석 처리 */

/*
    - CSS 기본구조 
        선택자{ 속성명 : 속성값; }
        선택자{ 속성명 : 속성값; 속성명 : 속성값; }
    
    - 선택자 적용 (속성이 중복일때) 우선순위 
        - #id명 > .클래스명 > 마크업 > *
        - 코드 작성순서로 아래에 있는 코드가 최종 적용
*/

/* 1.전체선택자 */
* { color : red;  }

/* 2.마크업선택자 */
h4 { color : yellow ; }

/* 3.클래스선택자 , 복수 : 여러 마크업들이 동일한 클래스명 갖는다.(중복o)*/
.구역1{ color : blue;}

/* 4.아이디선택자 , 단일 : 여러 마크업들이 단일 id명을 갖는다.(중복x)*/
#구역2{ color: green; }

.구역3{ color : black; }
#구역4{ color: pink; }

/* 5. 여러개 선택자를 한번에 작성하기  */
h5 , h6 , .구역3{ color: brown; }

/* 6. 자식(하위-child) 선택자 */
div > h3{ /* div 마크업 바로 하위에 있는 h3 마크업 선택*/
    color: aqua;
}
div > .구역5 { /* div 마크업 바로 하위에 있는 구역5 클래스 선택 */
    color: purple;    
}
/* 7. 자손 선택자 */ 
div h3{ /* div 마크업 안에 있는 모든 h3 마크업 선택 */
    color: black;
}