/*
    CSS 주석 
*/
/*
    - CSS 기본구조 
        선택자{ 속성명 : 속성값; }
        어디에{ 무엇을 : 어떻게; }
*/

/*
    웹폰트
    - 무료 폰트 모음 : https://noonnu.cc/index
*/
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 'title' 이라는 클래스 이름을 가진 마크업 꾸미기*/
.title{ 
    font-family : "궁서","굴림" ;  /*글꼴 : 사용자PC에 설치된 글꼴만 가능*/
    font-size : 50px ; /* 글꼴 크기 , px(픽셀) */
    font-style : italic; /* 글꼴 기울기 */
    font-weight: bold; /* 글꼴 진하게 , h3 마크업은 기본적으로 진하게 포함 */
}
.content{
    font-family: 'yg-jalnan' , '맑은 고딕' ;/*웹폰트(s구글) : 폰트제공하는 서버로부터 글꼴 사용 */
    color : gold;   /* 글꼴 색상 */
    word-spacing : 10px ; /* 단어 간격 : 어간 */
    letter-spacing: 10px ; /* 글자 간격 : 자간 */
    line-height : 160% ; /* 줄간격 , %단위 */
}
.writer{
    text-align : center; /* 텍스트 가로 정렬 , left , right , center */
    /* 텍스트 선긋기 : underline(밑줄), overline(윗줄) line-through(취소선) */
    text-decoration : underline overline line-through ;
    /* 텍스트 그림자 : x축 y축 흐림정도 색상 */
    text-shadow : 1px 1px 3px gray;
    /* 색상 : 1.색상명 2.RGB색상[0~255] 3.헥스코드[16진수] */
    color: red;
    color: #ff0000;
    color: rgb(255, 0, 0)
}
/*
    *x축 : 가로축 , y축 : 세로축 
    -------중심점------->
    -x                +x

    |   -y 
    |
    |
    중심점
    |
    |   +y
    v
*/