/*
CSS 주석
*/

/*
  -CSS 기본 구조
  선택지{ 속성명 : 속성값;}
  어디에{ 무엇을 : 어떻게;}


 /* 웹폰트 vs 일반폰트 
 @font-face{
     
 */

  /* title 이라는 이름을 가진 클래스 마크업 꾸미기 */
  .tltle{
  font-family : "궁서","굴림" ; /* 글꼴 : 사용자 pc에 설치된 글꼴 가능*/
  font-size : 50PX ; /* 글꼴 크기 , PX(픽셀)*/
  font-style : italic ; /* 글꼴 기울기 */
  font-weight : bold ; /* 글꼴 진하게 , H3 마크업은 기본적으로 진하게 포함 */
  }
  
  .content{
   font-family: "궁서" ;/* 폰트 */
   color: gold ; /* 글꼴 색상 */
   word-spacing: 10px ; /* 단어 간격 : 어간 */
   letter-spacing: 10px ; /* 글자 간격 : 자간 */
   line-height: 160% ; /* 줄간격, %단위 */  
  }
 
  .writer{
 text-align:  center ; /* 텍스트 가로 정렬 , 왼쪽 중앙 오른쪽 설정가능 */
 text-decoration: underline overline line-through ; /* 텍스트 선긋기 : udner(밑줄),over(윗줄),line-through(중앙선;취소선) */
 text-shadow: 1px 1px 3px gray ; /* 텍스트 그림자 : x축(가로),y축(세로),흐림정도 색상 */
 color:orange ; /*1.색상명 2.RGB색상[0~255] 3.헥스코드[16진수] */
  }


  /* 웹폰트(눈누vs구글) : 폰트를 제공하는 서버로부터 글꼴 사용*/

  