.*{

}

.title{
       font-size: 250px;
       font-style: italic;
       font-weight: bolder;
       text-align: center;
 }


 .login2{
       

 }
 .box1{

 }

 .box2{
     width: 10%;

 }
 
 .box3{
       text-align: center;

 }
 
.box4{


}

 .box5{
       text-align: center;

 }

 .box6{
       font-weight: bolder;
       text-align: center;
 }