/*======공통 부문 ======*/
*{margin: 0px; padding: 0px;}
*{box-sizing: border-box;}


#wrap{
    width:  1534px;
}

#menu1{
    display: flex; justify-content: space-between;
    margin: 30px auto;
}

#menu2{
    display: flex; justify-content: space-between;
    margin: 30px auto;
}


.pimg { width: 300px;}
.product{
    border: 1px solid grey; /*테두리*/
    width : 300px;
    margin: 20px;
}
.sample { padding-left: 100;}
.price { font-weight: bold; margin-top: 20px;}

.review {color: orange;
    font-weight: bold;}


    #productlist{

        display: flex;
        flex-wrap: wrap;
    }