/* 구역 구분 확인용 */
*{ border: 2px solid red; }

.s1{
    display: inline; /* span 기본값 */
    /* 구역 사이즈(불가능) : inline 사이즈를 적용할수 없다 */
    width: 100px; height: 100px;
    margin: 20px 30px; /* 바깥여백 : 위/아래=20 , 왼/오=30 */
    padding : 20px 30px; /* 안쪽여백 : 위/아래=20 , 왼/오=30*/
}
.s2{
    display: block; /* div 기본값 */
    /* 구역 사이즈(가능)*/
    width: 100px; height: 100px;
    margin: 20px 30px;
    padding: 20px 30px;
}
.s3{
    display: inline-block; /* input 기본값 */
    /* 구역 사이즈(가능)*/
    width: 100px; height: 100px;
    margin: 20px 30px;
    padding: 20px 30px;
}
.s4{
    display: none; /* 숨기기/표시안함 */
}
