/*부모 요소*/
#parent{
   width: 700px; height: 500px;
   background-color: beige;
   margin: 0 auto; /* 구역 가로 가운데 정렬*/
}

/*하위요소*/
.box{
    width: 100PX; height: 70px;
    background-color: yellow;
    border-radius: 10px;/*둥근 모서리*/

    /* 컨텐츠 및 내용물 가로,세로 가운데 정렬 */
    display: flex; justify-content: center; align-items: center;
    /* 포지션 */
    position: absolute;
}
/* 하위 요소 위치 선정*/
.box1{left: 300PX; top: 50px;}
.box2{left: 150px; top: 120PX;}
.box3{left: 450px; top: 120px;}
.box4{left: 150px; top: 260px;}
.box5{left: 450px; top: 260px;}
.box6{left: 300px; top: 360px;}