/*  a마크업의 가상 클래스 선택자 */
/* 선택자 : 가상클래스 { 속성값:값}*/
/* a 마크업은  css 기본값을 제거한다.
   1.visited : 해당 선택자,링크를 방문한 적이 있으면 (브라우저 방문 기록)
   2.active : 해당 선택자에 마우스 왼쪽 클릭 했을 때.
   3.hover :  해당 선택자에 마우스를 올렸을때.
*/
a{text-decoration: none; color: black;}

a:visited{color: black ; text-decoration: none;}
a:active{color: black;} /* 누르는 순간 */
a:hover{color: black; text-decoration: underline;} /* 마우스를 갔다 되었을때 */