/* 전체 선택자(*) */
*{
    border: 1px solid red; /* 일반적인 작업용 */
    margin: 0px; padding: 0px; /* 기본값 여백 제거 */
    
    box-sizing: border-box;

    /* 박스 사이징 : 모델크기의 기준 설정
     1.보더박스 : 테두리 까지(컨텐츠,내용물 + 안쪽여백 + 테두리) 기준으로 width/height 사이즈
     2.컨텐츠박스(기본 값) : 테두리 전(컨텐츠,내용물) 기준으로 width/height 사이즈
    */
 }

 #wrap{
       width: 1280px; /* 페이지 전체 사이즈 : pc기준으로 1100~1300px이 사용됨 */
       margin: 0 auto; /* 박스 모델 가운데 정렬 */
       
 }

#header{
         height: 200px; /* 확인용, 보통 사용 안함*/

 }
#main{
         height: 500px; /* 확인용, 보통 사용 안함*/
         display: flex; /* */
         flex-wrap: nowrap; /* 기본 값 : 만일 자식 요소가 더크면 크기 자동맞춤 */
         flex-direction: row; /* 기본 값 : 자식 요소들의 가로 방향 배치 */
         justify-content: space-between; /* 양쪽 끝에 여백 없이 사이 균등 정렬 */
         align-items: flex-start; /* 기본 값 */
}

#content {width: 830px;}
#aside   {width: 420px;}

#footer{
         height: 100px; /* 확인용, 보통 사용 안함*/

}